<ul class="nav-menu" id="navMenu" th:fragment="menu" xmlns:th="http://www.thymeleaf.org">
    <li><a href="#inicio" class="nav-link">Inicio</a></li>
    <li><a href="#nosotros" class="nav-link">Nosotros</a></li>
    <li><a href="#maestros" class="nav-link">Maestros</a></li>
    <li><a href="#videos" class="nav-link">Videos</a></li>
    <li><a href="#programas" class="nav-link">Programas</a></li>
    <li><a href="#credo" class="nav-link">Credo</a></li>
    <li><a href="#filosofia" class="nav-link">Filosofía</a></li>
    <li><a href="#contacto" class="nav-link">Contacto</a></li>
</ul>
